.app-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: orange;
  font-size: 28px;
  font-weight: bolder;
}

.app-nav-title{
  width: 70%;
}

.app-nav-login{
  width: 30%;
  font-size: 18px;
  margin-top: 10px;
}

