.login-error-content{
  width: 400px;
  height: 200px;
  box-shadow: 10px 16px 9px -5px #777777;
  border-radius: 9px;
  background-color: white;
  margin-top: 100px;
}

.login-error-letter{
  margin-top: 50px;
  font-size: 20px;
}

.login-error-button {
  width: 100px;
  padding: 10px 0;
  background-color: rgb(169, 170, 247);
  border: none;
  box-shadow: 8px 0px 6px -5px #777777;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-error-button:hover{
  transform: translateY(2px);
  box-shadow: none;
}