.app-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: orange;
  font-size: 18px;
  font-weight: bolder;
}

.app-nav-menu{
  width: 10%;
}

.app-nav-title{
  width: 65%;
}

.app-nav-login{
  width: 25%;
  font-size: 14px;
  margin-top: 10px;
}

